.container {
    max-width: 1900px;
    margin: auto;
}

header {
    width: 100%;
    max-height: 700px;
    background-color: #124474;
    margin: auto;
}

.header_top {
    width: 100%;
    display: flex;
    padding: 10px 10px;
    position: relative;
    left: 1600px;
    line-height: 24px;
    font-size: 25px;
    color: #ffffff;

}

.language_box {
    width: 15px;
    height: 15px;
}

.header_down {
    width: calc(100% - 10%);
}


.header_wrap {
    width: calc(100% - 10%);

}

.main_logo {
    display: block;
    width: 199px;
    height: 34px;
    position: relative;
    left: 50px;

}

.banner {
    padding: 20px 20px;
    max-width: calc(100% - 20%);
    font-weight: 400;
}

.middle {
    max-width: calc(100% - 20%);
    color: #ffffff;
    font-size: 25px;
}

.big {
    max-width: calc(100% - 20%);
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    padding: 5px;
}

.small {
    font-size: 15px;
    max-width: calc(100% - 20%);
    color: #ffffff;
    font-weight: bold;
}

.yellow {
    color: #ffcc2f !important;
    font-weight: bold;
}

.banner2 {
    width: 700px;
    position: relative;
    top: 100px;
    text-align: center;
}


.banner2 {
    background-color: #444;
}

.bx-wrapper {
    position: relative;
    left: 700px;
    bottom: 325px;
}

.big_white1 {
    color: #ffffff;
    font-size: 24px;
    line-height: 1.6;
    font-weight: bold;
    position: relative;
    bottom: 25px;

}

.big_white2 {
    color: #ffffff;
    font-size: 24px;
    line-height: 1.6;
    font-weight: bold;
}

.banner2 li {
    color: #ffffff;
}

.yellow {
    color: #ffcc2f;
    font-weight: bold;
}

.icon {
    display: flex;
    position: relative;
    bottom: 550px;
    left: 200px;
    color: #ffffff;
}

.ask img{
    width: 90px;
    height: 90px;
    position: fixed;
}

section .bx-wrapper {
    position: relative;
    top: 150px;
    left: 150px;
}

.now {
    position: relative;
    top: 100px;
    left: 200px;
    color: #2180dc;
    font-size: 18px;
}

.main-2 .bx-wrapper {
    position: relative;
    left: 1000px;
}

.tag_1 {
    text-align: center;
    padding: 5px 5px;
    width: 150px;
    border: 1px solid;
    border-radius: 25px 25px 25px 25px;
}























footer {
    width: 100%;
    height: 150px;
    background-color: #124474;
}